<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cadastro - invistaIX</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <img src="/logooo.png" alt="Logo InvistaIX" style="height:24px; margin-right:8px;">
        </div>
        <br>
        <hr>
        <a href="/">← Sair</a>
    </div>
    <div class="form-box">
        <h2>Cadastro</h2>
        <p>Preencha os campos para criar sua conta</p>
        <form method="post" action="/cadastro">
            <div>
                <label id="nome">Nome</label>
                <input type="text" name="nome" placeholder="Nome" required />
            </div>
			<div>
				<label id="nome">Sobrenome</label>
			    <input type="text" name="sobrenome" placeholder="Sobrenome" required />
			</div>
            <div>
                <label id="cpf">CPF/CNPJ</label>
                <input type="text" name="cpfCnpj" placeholder="CPF/CNPJ" required />
            </div>
			<div>
				<select name="tipoPessoa">
					<option value="false">Pessoa Física</option>
					<option value="true">Pessoa Jurídica</option>
				</select>
			</div>
            <div>
                <label id="email">Email</label>
            <input type="email" name="email" placeholder="Email" required />
            </div>
            <div>
                <label id="telefone">Telefone</label>
                <input type="tel" name="telefone" placeholder="(11) 9999 999" required />
            </div>
            <div>
                <label id="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha" required />
            </div>
            <div>
                <label id="confSenha">Confirme a Senha</label>
                <input type="password" name="senha" placeholder="Confirme a senha" required />
            </div>
            <button type="submit" class="btn">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>