<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashboard - InvistaIX</title>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>

<!-- Menu lateral -->
<aside>
	<div class="logo">
		<a href="/dashboard">
			<img src="img/logo.png" alt="Logo InvistaIX" class="logo-img" />
		</a>
	</div>
	    <nav>
            <ul>
                <h4 style="margin-bottom: 10px;">Menu</h4>
                <li>
                    <a href="/dashboard">
                        <span class="material-icons">dashboard</span>
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>

    <div class="perfil">
        <h4>Perfil</h4>
        <a href="/perfil">
            <span class="material-icons">person</span>
            Meus Dados
        </a>
        <a href="/">
            <span class="material-icons">logout</span>
            Sair
        </a>
    </div>
</aside>

<!-- Conteúdo principal -->
<main>
    <header>
		<h1 th:text="${usuario.id}" id="usuarioId" style="display: none;"></h1>
        <div>
            <h1 class="titulo">Dashboard</h1>
            <p class="subtitulo">Visão geral da seus grupos de imóveis e desempenho</p>
        </div>
        <div class="acoes">
            <a href="dashboard/cadastro_grupo"><button class="criar">+ Criar Grupo</button></a>
            <button class="ingressar">Ingressar</button>
        </div>
    </header>
	
	<div>
		<div class="desc">
			<h2>Grupos de imóveis</h2>
			<p style="margin-bottom: 20px; color: #555;">Análise dos grupos de imóveis</p>
		</div>

	
    	<div class="cards" id="cards_container">
		
			<!-- Cards aplicados dinamicamente -->

    	</div>
	
		</div>
	
	<footer>
		© 2025 InvistaIX. Todos os direitos reservados.
	</footer>
</main>

<script src="/JS/dashboard.js"></script>

</body>

</html>