<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvistaIX - Sistema de Valorização de Imóveis</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<header>
	<div class="logo">
		<a href="/">
			<img src="img/logo.png" alt="Logo InvistaIX" class="logo-img" />
		</a>
	</div>
	<nav class="login-cadastro">
       	<a href="login">Login</a>
        <a href="cadastro" class="btn-primary">Comece Agora</a>
    </nav>
</header>
<main>
    <div class="badge">Sistema de Valorização de Imóveis</div>
    <h1>Valorize e Gerencie seus<br>Inventimentos Imobiliários</h1>
    <p>A plataforma completa para análise de desempenho, cálculo de valorização e gestão financeira da sua carteira de imóveis.</p>
    <a href="cadastro.html" class="btn-acessar">Acesse a Plataforma →</a>
</main>
<footer>
    © 2025 InvistaIX. Todos os direitos reservados.
</footer>
</body>
</html>